.container .tweet {

    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    margin-top: 30px;

}

section.tweet:hover header {

    filter: opacity(100%);
}


.tweet header {

    margin-top: 10px;
    background-color: hsla(225, 9%, 91%, 0.753);
    width: 100%;
    padding-bottom: 40px;
    filter: opacity(60%);

}



.tweet h2 {

    margin: 0;
    padding: 10px;

}


.tweet.footer {

    float: right;

}

.tweet textarea {

    width: 100%;
    border-bottom-color: black;
    border-bottom: solid;
    border-bottom-width: 1px;
    padding: 10px;

}

.tweet span.creator {

    float: right;
    color: grey;

}

.tweet img {

    width: 80px;
    height: 80px;
    float: left;

}

.tweet span.date created {

    float: left;

}

.tweet span.icons {

    visibility: hidden;
    float: right; 

}

section.tweet:hover span.icons {

    visibility: visible;
}
