.container .tweet {

    border-radius: 5px;
    background-color: #bfc2ca40;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 1px;

}

.tweet.header {

    margin-top: 10px;

    }

.tweet.footer {

    float: right;

}

.tweet textarea {

    width: 100%;

}

.tweet.span {

    float: left:

}